<nav class="navbar">
	<div class="container">
		<div class="row">
			<div class="col-xl-3 col-6">
			<a class="navbar-brand" href="#">
				<img src="./assets/logo-header.png" class="d-inline-block align-top" alt="">
			</a>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-12">
		  	<form class="form-inline">
			    <input class="form-control" type="search" placeholder="¿Qué quieres buscar?" aria-label="Search">
			    <button class="btn" type="submit"><img src="./assets/ícono-search.png" class="d-inline-block align-top" alt=""></button>
			</form>
		  	</div>
		</div>
		<div class="row">
		  	<div class="col-xl-12 col-6">
		  	<a class="navbar-brand" href="#">
				<img src="./assets/fb.png" class="d-inline-block align-top" alt="">
			</a>
			<a class="navbar-brand" href="#">
				<img src="./assets/instagram.png" class="d-inline-block align-top" alt="">
			</a>
			</div>
		</div>
  	</div>
</nav>

