<div class="container">
	<div class="row">
		<div class="col-xl-12 about">
			<h3>Nosotros</h3>
			<p>
			Somos una empresa comprometida con la competencia en el comercio electrónico en México, por eso construimos Paragon, que te permite comparar los precios en tiempo real de miles de productos diferentes en más de 60 sitios de comercio electrónico, incluyendo Amazon México, Linio, Mercado Libre y Walmart, entre otros.

			Actualmente contamos con más de 7,000 productos cuyos precios son monitoreados constantemente. Estamos trabajando día a día para aumentar nuestro catálogo, considerando tus opiniones y sugerencias, además de los más recientes lanzamientos y promociones. Nuestra selección de productos incluye desde esa pantalla curva que querías para estrenar tu nuevo videojuego hasta el alimento para tus mascotas e incluso tu nuevo celular.

			Los precios los actualizamos 4 veces por día, todos los días del año. Estamos trabajando para disminuir los tiempos de actualización y ofrecerte herramientas adicionales que te permitan encontrar el precio más bajo en internet de los productos que buscas comprar.

			Conoce los sitios de comercio electrónico que tenemos actualmente aquí.
			</p>
		</div>
	</div>
</div>
