<!-- Slider main container -->
<div class="swiper-container" id="swiper-header">
  <div class="swiper-wrapper">
    <div class="swiper-slide"><img src="./assets/imagen-principal.png" alt="First slide"></div>
    <div class="swiper-slide"><img src="./assets/imagen-principal.png" alt="Second slide"></div>
    <div class="swiper-slide"><img src="./assets/imagen-principal.png" alt="Third slide"></div>
  </div>

  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
  
  <!-- Add Arrows -->
  <div class="swiper-button-next swiper-button-white"></div>
  <div class="swiper-button-prev swiper-button-white"></div>
</div>

<nav class="navbar">
  <div class="container">
    <div class="row didden-xs">
      <div class="dropdown">
        <button class="btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categorías
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>
    <div class="swiper-container" id="swiper-categorias">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="./assets/iconos_categoria/iconos__equipaje.png"></div>
        <div class="swiper-slide"><img src="./assets/iconos_categoria/iconos__mascotas.png"></div>
        <div class="swiper-slide"><img src="./assets/iconos_categoria/iconos__accesorios digitales.png"></div>
        <div class="swiper-slide"><img src="./assets/iconos_categoria/iconos__accesorios digitales.png"></div>
        <div class="swiper-slide"><img src="./assets/iconos_categoria/iconos__accesorios digitales.png"></div>
        <div class="swiper-slide"><img src="./assets/iconos_categoria/iconos__accesorios digitales.png"></div>
        <div class="swiper-slide"><img src="./assets/iconos_categoria/iconos__accesorios digitales.png"></div>
        <div class="swiper-slide"><img src="./assets/iconos_categoria/iconos__accesorios digitales.png"></div>
        <div class="swiper-slide"><img src="./assets/iconos_categoria/iconos__accesorios digitales.png"></div>
        <div class="swiper-slide"><img src="./assets/iconos_categoria/iconos__accesorios digitales.png"></div>
        <div class="swiper-slide"><img src="./assets/iconos_categoria/iconos__accesorios digitales.png"></div>
        <div class="swiper-slide"><img src="./assets/iconos_categoria/iconos__accesorios digitales.png"></div>
        <div class="swiper-slide"><img src="./assets/iconos_categoria/iconos__accesorios digitales.png"></div>
        <div class="swiper-slide"><img src="./assets/iconos_categoria/iconos__accesorios digitales.png"></div>
        <div class="swiper-slide"><img src="./assets/iconos_categoria/iconos__accesorios digitales.png"></div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>

      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row label">
    <div class="col-xl-12">
      <h2>Los mas vistos</h2>
    </div>
  </div>

  <!-- Swiper -->
  <div class="swiper-container p_vistos" id="p_vistos">
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <div class="swiper-wrapper">
      <div class="swiper-slide">
         
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>

