<div class="jumbotron">
	
</div>
<div class="container">
	<div class="row">
		<div class="com-xl-3">
			<div class="pull-left">
				<ul>
					<h3><span>Categoria</span></h3>
				</ul>
			</div>
		</div>
		<div class="col-xl-9">
			<div class="row" align="center">
				<div class="col-xl-4">
					<span>X resultados</span>
				</div>
				<div class="col-xl-4">
					<select>
						<option value="fecha_asc">Fecha Anscendente</option>
						<option value="fecha_desc">Fecha Descendente</option>
						<option value="precio_asc">Fecha Anscendente</option>
						<option value="precio_desc">Fecha Descendente</option>
					</select>
				</div>
			</div>
			<app-product-box></app-product-box>		
		</div>
	</div>
</div>