<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <img class="card-img-top" src="./assets/producto-prueba.jpg" alt="Card image cap">
        <div class="card-body">
          <div class="card-text">
            <h4>Nintendo Switch</h4>
            <p class="product-meta">
              DESDE <span>$7200</span> en <br>
              <span>6</span> sitios
            </p>
            <p class="product-rating">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>