<div class="container">
  <div class="row">
    <div class="col-xl-6">
      <div class="card-columns">
        <div *ngFor="let productos of producto" class="card">
          <a routerLink="./products">
            <img class="card-img-top img-fluid" src="./assets/producto-prueba.jpg" alt="Card image cap">
            <div class="card-body">
              <div class="card-text">
                <h4>{{productos.name}}</h4>
                <p class="product-meta">
                  DESDE <span id="precio">${{productos.precio}}</span> en <br>
                  <span>{{productos.sitio}}</span> sitios
                </p>
                <p class="products-rating">
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                  <i class="fa fa-star-o" aria-hidden="true"></i>                
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>