h2{
	text-align: center;
	font-size: 20pt;
	font-family: 'Montserrat',sans-serif;
}

.btn{
	background-color: #f6b810;
	border-color: #f6b810;
}

.row{
	padding: 10px 0px;
}

.swiper-slide{
  /* Center slide text vertically */
 /* border: 1px solid black;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-pagination{
	position: relative; 
	top: 10px;
	left: 500px;
}

@media only screen and (max-width: 600px) {
	.swiper-pagination{
		position: relative; 
    	bottom: 10px;
    	left: 0;
	}	
}
